.lang-switch {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 48px;
  width: 90px;
  height: 48px;
  padding: 3px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $white;
      opacity: 0.3;
      text-transform: uppercase;
      transition: all 0.5s;
    }

    .active {
      a {
        opacity: 1;
        background-color: $white;
        color: $black;
        position: relative;

        &:active,
        &:focus {
          background-color: $darkBlue;
        }
      }
    }
  }

  &:hover {
    ul {
      .active {
        position: relative;

        &:before {
          content: "";
          @include abs-center;
          width: 110%;
          height: 110%;
          background: $primary;
          filter: blur(50px);
        }

        a {
          background-color: $primary;
        }
      }
    }
  }
}
