.pagination {
  position: relative;
  margin: 60px 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.2;

    li {
      margin: 0 8px;

      & > a,
      & > span {
        display: block;
        color: $white;

        &.current,
        &:hover {
          color: $primary;
        }

        &.prev,
        &.next {
          position: absolute;
          left: 0;
          top: 0;
          border-bottom: 1px solid $white;
          padding: 0 0 4px;

          &:hover {
            border-color: $primary;
          }
        }

        &.next {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
