.banner-home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 0 0 127px;

  &:after {
    content: "";
    position: absolute;
    left: 30%;
    top: 30%;
    background: url(../img/bg/dot.svg) no-repeat;
    background-size: cover;
  }

  .inner {
    position: relative;
  }

  .banner-bg {
    @include abs;
    margin: 0;

    &:before {
      content: "";
      @include abs;
      background: linear-gradient(0deg, #131313 0%, rgba(19, 19, 19, 0.15) 100%);
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      left: 10%;
      top: 20%;
      background: url(../img/bg/dot.svg) no-repeat;
      background-size: cover;
      z-index: 2;
      width: 154px;
      height: 136px;
    }

    img,
    video {
      @include img-fit;
    }
  }

  .banner-text {
    margin: 0 0 52px;
    position: relative;
    z-index: 3;

    span {
      background-color: $white;
      background-image: linear-gradient(90deg, #4478ff 0%, #1e4dc6 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .lang-switch {
    display: block;
    position: absolute;
    bottom: 22px;
    right: 0;
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    min-height: 690px;
    padding: 0 0 54px;

    .lang-switch {
      bottom: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .banner-text {
      margin: 0 0 25px;
    }
    .lang-switch {
      position: relative;
      bottom: 0;
      right: 0;
      flex: 0 0 auto;
    }
    .btn-outlined {
      width: 100%;
      max-width: 237px;
    }
  }
}
