.block-icons {
  margin: 0 0 93px;

  h3 {
    margin: 0 0 10px;
    color: $primary;
    text-align: center;
  }

  h2 {
    margin: 0 0 79px;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
  }

  .row {
    --bs-gutter-x: 110px;
  }

  .icons-list {
    margin: 0;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      min-height: 156px;

      .icon {
        width: 56px;
        height: 56px;
        background-color: $white;
        border-radius: 12px;
        flex: 0 0 auto;
        margin: 0 32px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        svg {
          display: block;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        color: #969696;
        max-width: 450px;

        strong {
          display: block;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.2;
          color: $white;
          margin: 0 0 13px;
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .row {
      --bs-gutter-x: 40px;
    }

    .icons-list {
      padding: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    .row {
      --bs-gutter-y: 40px;
    }

    .icons-list {
      row-gap: 40px;

      li {
        min-height: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 115px;

    h3 {
      text-align: left;
      margin: 0 0 12px;
    }
    h2 {
      text-align: left;
      margin: 0 0 40px;
      font-size: 24px;
      line-height: 120%;
    }

    .icons-list {
      margin: 0 16px;
      padding: 0;

      li {
        .icon {
          width: 48px;
          height: 48px;
          margin: 0 12px 0 0;

          img,
          svg {
            display: block;
          }
        }

        p {
          margin: 0 0 0 -60px;
          font-size: 14px;

          strong {
            display: flex;
            min-height: 48px;
            align-items: center;
            margin: 0 0 8px 60px;
          }
        }
      }
    }
  }
}
