.block-contacts {
  background: url(../img/bg/bg-contacts.svg) 50% 0 no-repeat;
  background-size: 100% 100%;
  padding: 50px 0 47px;
  margin: 0 0 74px;

  .row {
    --bs-gutter-w: 72px;
  }

  h3 {
    margin: 0 0 10px;
  }
  h2 {
    margin: 0 0 44px;
  }

  .form {
    .field {
      margin: 0 0 16px;

      label {
        display: block;
        margin: 0 0 8px;
        font-size: 14px;
        line-height: 141.7%;
        font-weight: 400;
      }

      input {
        width: 100%;
        height: 48px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 32px;
        font-size: 16px;
        line-height: 20px;
        padding: 13px 23px;
        @include placeholder-text($white, 0.3);
        color: $white;
        font-weight: 400;
        transition: all 0.25s;

        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $white;
        }
      }
    }

    .submit {
      padding: 32px 0 0;
    }
  }

  .contact-list {
    padding: 36px 0 0 50px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        padding: 0 0 4px;

        .text {
          font-size: 16px;
          line-height: 141.7%;
          color: #e7e7e7;
          strong {
            font-size: 2em;
            line-height: 1.2;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            transition: all 0.5s;

            svg {
              display: none;
              path {
                transition: all 0.5s;
              }
            }
          }
          p {
            opacity: 0.5;
            margin: 0 0 35px;
          }
          a {
            &:hover {
              strong {
                color: var(--theme);
              }
            }
            &:active {
              strong {
                color: var(--theme-dark);
              }
            }
          }
        }

        .link {
          padding: 7px 0 0;
          margin-left: 20px;
          flex: 0 0 auto;
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    .contact-list {
      ul {
        li {
          .text {
            strong {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    .contact-list {
      ul {
        li {
          .text {
            strong {
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin: 0 0 30px;

    .contact-list {
      padding: 40px 0 0;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 32px 0 0;
    margin: 0 0 32px;
    background-size: 100% auto;
    .row {
      flex-direction: column-reverse;
      --bs-gutter-y: 16px;
    }

    h3 {
      margin: 0 0 17px;
    }

    h2 {
      margin: 0 0 32px;
    }

    .contact-list {
      padding: 0;

      ul {
        li {
          padding: 0 0 4.5px;

          .text {
            font-size: 14px;

            strong {
              font-size: 18px;

              svg {
                display: block;
                margin-left: 5px;
              }

              &:hover {
                svg {
                  path {
                    stroke: var(--theme);
                  }
                }
              }
            }
            p {
              margin: 0 0 28px;
            }
          }

          .link {
            display: none;
          }
        }
      }
    }

    .form {
      .submit {
        padding: 17px 0 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    background-image: url(../img/bg/bg-contacts-m.svg);
  }
}
