.block-marked-list {
  margin: 0 0 148px;

  h3 {
    margin: 0 0 10px;
    color: $primary;
    text-align: center;
  }

  h2 {
    margin: 0 0 64px;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 100px;

    li {
      width: 100%;

      p {
        font-size: 18px;
        line-height: 141.7%;
        margin: 0;
        color: #e7e7e7;
      }

      strong {
        display: inline-block;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        padding: 0 70px 0 0;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 76px;
          height: 76px;
          background: url(../img/bg/lightning.svg);
        }
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    ul {
      column-gap: 40px;
      li {
        p {
          font-size: 14px;
        }

        strong {
          font-size: 32px;
          line-height: 39px;
          padding: 0 62px 0 0;
          margin: 0 0 3px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    ul {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 67px;

    h3 {
      text-align: left;
      margin: 0 0 12px;
    }
    h2 {
      text-align: left;
      margin: 0 0 40px;
      font-size: 24px;
      line-height: 120%;
    }
  }
}
