.block-blog-promo {
  margin: 0 0 63px;

  .block-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 30px;
    position: relative;
    z-index: 1;

    h3 {
      margin: 0 0 12px;
    }

    .btn-wrapper {
      padding: 0 0 9px;
    }
  }

  .wrapper-bg {
    position: relative;

    &:before {
      content: "";
      width: 1000px;
      height: 1000px;
      background: var(--theme-radial);
      position: absolute;
      left: 0;
      top: 0;
      transform: translate3d(-40%, -40%, 0);
    }

    &:after {
      content: "";
      width: 1000px;
      height: 1000px;
      background: var(--theme-radial);
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate3d(-60%, -50%, 0);
    }
  }

  .blog-slider {
    position: relative;
    z-index: 3;

    .swiper-pagination {
      display: none;
    }

    &[data-slides="3"] {
      min-height: 480px;

      .card-main {
        padding: 0 32px 48px;
        p {
          font-size: 24px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0 0 30px;
    padding: 46px 0 0;

    .wrapper-bg {
      &:before {
        width: 700px;
        height: 700px;
        transform: translate3d(-50%, -50%, 0);
        opacity: 0.9;
      }

      &:after {
        width: 700px;
        height: 700px;
        top: 100%;
        transform: translate3d(-50%, -70%, 0);
        opacity: 0.9;
      }
    }

    .block-header {
      h3 {
        margin: 0 0 17px;
      }
    }

    .blog-slider {
      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 44px 0 26px;

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #2f2f2f;
          margin: 0 6px;
          cursor: pointer;

          &:hover,
          &.swiper-pagination-bullet-active {
            background-color: var(--theme);
          }
        }
      }

      &[data-slides="3"] {
        min-height: 480px;

        .card-main {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
