.block-02 {
  margin: 0 0 46px;

  .row {
    --bs-gutter-x: 28px;
    --bs-gutter-y: 32px;

    & > div {
      &:first-child {
        .card {
          &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 600px;
            height: 600px;
            background: var(--theme-radial);
            transform: translate3d(40%, 40%, 0);
            opacity: 0.7;
          }

          .card-image {
            &:after {
              content: "";
              @include abs;
              background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.4) 56%, rgba(0, 0, 0, 0) 100%);
            }

            img {
              object-position: center top;
            }
          }
        }
      }

      &:last-child {
        .card {
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 600px;
            height: 600px;
            background: var(--theme-radial);
            transform: translate3d(-40%, -40%, 0);
            opacity: 0.5;
          }

          .card-image {
            &:after {
              content: "";
              @include abs;
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.74) 40.42%, rgba(0, 0, 0, 0) 100%);
              background-size: 200% 100%;

              @include media-breakpoint-down(md) {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.74) 40.42%, rgba(0, 0, 0, 0) 100%);
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0;

    .row {
      & > div {
        &:first-child {
          .card {
            &:after {
              display: none;
            }
          }
        }

        &:last-child {
          .card .card-main {
            min-height: 400px;
          }
        }
      }
    }
  }
}
