.block-01 {
  position: relative;
  padding: 60px 0;
  padding: 153px 0 123px;
  display: flex;
  justify-content: flex-end;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 1200px;
    background: var(--theme-radial);
    transform: translate3d(-55%, 20%, 0);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0) 0%, #131313 50%, #131313 100%);
    z-index: 9;
  }

  .image {
    width: 83%;
    margin: 0;
    position: relative;
    @extend .fade-up;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1200px;
      height: 1200px;
      background: var(--theme-radial);
      transform: translate3d(-15%, -60%, 0);
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
    }
  }

  .stats {
    @include abs;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: absolute;
        font-size: 24px;
        line-height: 34px;

        p {
          margin: 0;
          color: #e7e7e7;
          opacity: 0;
        }

        strong {
          display: inline-block;
          position: relative;
          font-weight: 500;
          padding: 0 76px 0 0;
          font-size: 64px;
          line-height: 56px;
          margin: 0 0 15px;

          .number {
            display: block;
            position: relative;
            z-index: 2;
            opacity: 0;
          }

          .circle {
            position: absolute;
            border: 1px solid $white;
            border-bottom: none;
            border-radius: 100%;
            position: absolute;

            .icon {
              position: absolute;
              left: 0;
              top: 50%;
              width: 0;
              height: 0;
              z-index: 5;
              opacity: 0;

              &:before {
                content: "";
                @include abs-center;
                display: block;
                width: 76px;
                height: 76px;
                background: url(../img/bg/lightning.svg);
              }
            }
          }
        }

        &:nth-child(1) {
          right: 53.3%;
          top: 20.3%;

          strong {
            .circle {
              width: 1315px;
              height: 1315px;
              right: -900px;
              top: -39px;
              border-color: rgba($white, 0.1);
            }
          }
        }

        &:nth-child(2) {
          right: 52.4%;
          top: 39.7%;

          strong {
            padding: 0 70px 0 0;

            .circle {
              width: 951px;
              height: 951px;
              right: -710px;
              top: -59px;
              border-color: rgba($white, 0.2);
            }
          }
        }

        &:nth-child(3) {
          right: 53.5%;
          top: 61.2%;

          strong {
            padding: 0 70px 0 0;

            .circle {
              width: 673px;
              height: 673px;
              right: -595px;
              top: -144px;
              border-color: rgba($white, 0.25);
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xl) {
    &:before {
      display: none;
    }
    .image {
      margin-right: -10%;
    }

    .stats {
      ul {
        li {
          font-size: 20px;
          line-height: 28px;

          strong {
            padding: 0 76px 0 0;
            font-size: 50px;
            line-height: 1;
            margin: 0 0 10px;
          }

          &:nth-child(1) {
            right: 45%;

            strong {
              .circle {
                width: 1100px;
                height: 1100px;
                right: -745px;
                top: -32px;
              }
            }
          }

          &:nth-child(2) {
            right: 44%;

            strong {
              .circle {
                width: 850px;
                height: 850px;
                right: -625px;
                top: -55px;
              }
            }
          }

          &:nth-child(3) {
            right: 40%;

            strong {
              .circle {
                width: 573px;
                height: 573px;
                right: -495px;
                top: -117px;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .stats {
      ul {
        li {
          &:nth-child(1) {
            right: 40%;
          }

          &:nth-child(2) {
            right: 38%;
          }

          &:nth-child(3) {
            right: 36%;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column-reverse;
    padding: 34px 0 0;

    &:after {
      top: 0;
      width: 325px;
      height: 325px;
      transform: translate3d(-60%, 0, 0);
      opacity: 0.55;
    }

    .image {
      width: auto;
      margin: 0;

      &:before {
        width: 500px;
        height: 500px;
        top: 0;
        transform: translate3d(-25%, -25%, 0);
        opacity: 0.55;
      }
    }

    .stats {
      position: static;
      margin: 0 0 33px;

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 48px;
        align-items: flex-end;
        padding: 0 10px;
        max-width: 390px;
        margin: auto;

        li {
          position: static;
          font-size: 18px;
          line-height: 26px;

          strong {
            font-size: 32px;
            line-height: 39px;
            margin: 0;
            padding: 0 63px 0 0 !important;
          }

          &:nth-child(1) {
            margin: 0 51px 0 0;

            strong {
              .circle {
                width: 1000px;
                height: 1000px;
                right: -685px;
                top: -31px;
              }
            }
          }

          &:nth-child(2) {
            margin: 0 29px 0 0;

            strong {
              .circle {
                width: 715px;
                height: 715px;
                right: -495px;
                top: -27px;

                .icon {
                  left: 4px;
                  top: 45%;
                }
              }
            }
          }

          &:nth-child(3) {
            strong {
              .circle {
                width: 489px;
                height: 489px;
                right: -355px;
                top: -28px;

                .icon {
                  top: 30%;
                  left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
