.fade-up {
  opacity: 0;
  transform: translateY(100px);
}

.fade-wrapper {
  & > * {
    @extend .fade-up;
  }
}

@media (max-height: 500px) {
  .fade-up {
    opacity: 0;
    transform: translateY(20px);
  }
}
