.header {
  padding: 55px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 998;
  will-change: transform;
  transition: all 0.5s;

  &.headroom--not-top {
    padding: 32px 0;
    background-color: rgba($darkGray, 0.98);
  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    transition: all 0.5s;
    width: 131px;
    a {
      display: block;

      img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.5s;
      }
    }
  }

  @include media-breakpoint-down(md) {
    background-color: $dark;
    padding: 24px 0;
    z-index: 999;

    &.nav-opened {
      background-color: transparent;
    }

    .container-fluid {
      align-items: center;
    }

    &.headroom--not-top {
      padding: 16px 0;

      .logo {
        width: 90px;
      }
    }
  }
}
