body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

input,
select,
textarea,
button {
  font-family: $font-family-base;
}

.banner-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  span {
    color: var(--theme);
  }

  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}

h1,
.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin: 0;

  span {
    color: var(--theme);
  }

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

h2,
.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  margin: 0;

  span {
    color: var(--theme);
  }

  @include media-breakpoint-up(lg) {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--theme);
  margin: 0 0 23px;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 1.2;
  }
}

p,
ol,
ul,
dl {
  margin: 0 0 1em;
}
